
.graficas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
}
.grafica-card  {
  display: none;
}
.grafica-card.activa {
  display: block;
  width: 100%;
  background-color: #ecf0f1;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.grafica-card h3 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

/* grafica ada */
#grafica-mis-productos {
  max-width: 1200px;
  max-height: 500px;
  width: 100% !important;
  height: 100% !important;
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 1rem;
}
#grafica-mis-ventas {
  max-width: 1200px;
  max-height: 500px;
  width: 100% !important;
  height: 100% !important;
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 1rem;
}
#totalGeneradoPorUsuario {
  max-width: 1200px;
  max-height: 500px;
  width: 100% !important;
  height: 100% !important;
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 1rem;
}

/* mensaje de alerta */
.mensaje-alerta {
  background-color: rgba(255, 99, 132, 0.1); /* fondo rosado suave */
  border: 1px solid rgba(255, 99, 132, 0.5);
  color: #ff6384;
  padding: 12px 16px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}
